test-report.html
target/
*.log
**/password.txt
**/*.jar
.war
*.jpg
/bin/*
line-1 from branch
line-2 from branch
test-report.html
target/
*.log
**/password.txt
**/*.jar
.war
*.jpg
/bin/*
.tx
Line 1 from Master
Line 2 from Master
Line 3 from Branch
